$dark-color: #b58863;
$light-color: #f0d9b5;
$outline-color: #8f6a46;
//green theme
$dark-green-color: #4f583c;
$light-green-color: #acb192;
$outline-green-color: #485234;
//blue theme
$dark-blue-color: #4682b4;
$light-blue-color: #add8e6;
$outline-blue-color: #3b6d96;
//red theme
$dark-red-color: #de4d46;
$light-red-color: #efd4cd;
$outline-red-color: #a82f2f;
//purple theme
$dark-purple-color: #61447e;
$light-purple-color: #c0b1f4;
$outline-purple-color: #371d5f;

body {
  font-family: "Grandstander", cursive;
}

.containter {
  max-width: 1240px !important;
}

ol,
ul {
  padding-left: 0;
}

.btn-row {
  display: flex;
  justify-content: space-around;
  width: 98%;
}

.fix-nav {
  position: fixed;
  justify-content: unsafe center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.view-port {
  margin-top: 2rem;
}

.spacer {
  height: 58px;
}

.game-btn {
  background-color: $dark-color;
  border: none;
  color: $light-color;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  border: 2px solid $light-color;
  border-radius: 8px;
  z-index: 99;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  max-height: 45px;
}

.select-btn {
  min-width: 126px;
  @media screen and (max-width: 991px) {
    min-width: 75px;
    font-size: 14px;
    min-height: -webkit-fill-available;
    padding: 0.5rem;
    margin: 0;
  }
  @media screen and (max-width: 470px) {
    line-height: 1;
  }
}

.game-btn:hover {
  background-color: $light-color;
  color: $dark-color;
  border: 2px solid $dark-color;
}

.play-row {
  display: flex;
  justify-content: space-around;

  @media screen and (max-width: 991px) {
    display: flex;
    margin: 0 auto;
    flex-direction: column-reverse;
  }
}

.chess {
  max-width: 800px;
  max-height: 800px;
  @media screen and (min-width: 991px) {
    padding-left: 0px;
    padding-right: 24px;
  }
  @media screen and (max-width: 991px) {
    margin-top: 2rem;
  }
  @media screen and (max-height: 800px) and (min-width: 500px) {
    max-width: 600px;
    max-height: 600px;
  }
  @media screen and (max-height: 750px) and (max-width: 500px) {
    max-width: 500px;
    max-height: 500px;
  }
}

.btn-col {
  background-color: $light-color;
  border: 2px solid $outline-color;
  border-radius: 8px;
  text-align: center;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 96%;
  @media screen and (max-width: 1199px) {
    max-height: 745px;
  }
  @media screen and (max-height: 800px) and (min-width: 500px) {
    max-width: 600px;
    height: 624px;
  }
  @media screen and (max-height: 750px) and (max-width: 500px) {
    max-width: 312px;
    height: 260px;
    .btn-col-el {
      font-size: 10px;
    }
  }
}

.move-list {
  overflow-y: auto;
  height: 476px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  @media screen and (max-width: 1199px) {
    height: 395px;
    padding-top: 3px;
  }
  @media screen and (max-width: 991px) {
    height: 95px;
    padding-top: 0;
  }
  @media screen and (max-height: 800px) and (min-width: 500px) {
    height: 275px;
  }
  @media screen and (max-height: 750px) and (max-width: 500px) {
    height: 78px;
  }
}

.move-list::-webkit-scrollbar {
  width: 0px;
  background-color: $light-color;
}

.move-list::-webkit-scrollbar-thumb {
  background-color: $light-color;
}

.game-mode-header {
  background-color: $light-color;
  color: $dark-color;
  border: 2px solid $dark-color;
  border-radius: 8px;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: default;
  z-index: 99;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  @media screen and (max-width: 991px) {
    margin: 5px 2px;
    padding: 7px;
  }
}

.move-history-header {
  background-color: $light-color;
  color: $dark-color;
  border: 2px solid $dark-color;
  border-radius: 8px;
  padding: 10px 10px;
  width: 150px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: default;
  z-index: 99;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  @media screen and (max-width: 991px) {
    margin: 5px 2px;
    padding: 7px;
  }
}

.color-label {
  background-color: $dark-color;
  color: $light-color;
  border: 2px solid $light-color;
  border-radius: 8px;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: center;
  font-size: 15px;
  margin: 4px 2px;
  cursor: default;
  z-index: 99;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  @media screen and (max-width: 991px) {
    margin: auto;
    padding: 7px;
    max-width: 100px;
  }
}

.move {
  color: $dark-color;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  margin: 0 !important;
  cursor: default;
  z-index: 99;
  @media screen and (max-width: 991px) {
    margin: 0;
    padding: 0;
  }
}

select {
  word-wrap: normal;
  text-align: center !important;
  background-color: $light-color;
  color: $dark-color;
  border: 2px solid $dark-color;
  border-radius: 8px;
}

.hidden {
  display: none;
}

.active-btn {
  background-color: $light-color !important;
  color: $dark-color !important;
  border: 2px solid $dark-color !important;
  box-shadow: 0 0 10px 0 rgba(82, 45, 10, 0.2);
  font-weight: bold;
}

.btn-col-el {
  max-height: 45px;
}

//green theme
.green {
  .game-btn {
    background-color: $dark-green-color;
    color: $light-green-color;
    border: 2px solid $light-green-color;
  }
  .game-btn:hover {
    background-color: $light-green-color;
    color: $dark-green-color;
    border: 2px solid $dark-green-color;
  }

  .btn-col {
    background-color: $light-green-color;
    border: 2px solid $outline-green-color;
  }

  .game-mode-header {
    background-color: $light-green-color;
    color: $dark-green-color;
    border: 2px solid $dark-green-color;
  }

  .move-history-header {
    background-color: $light-green-color;
    color: $dark-green-color;
    border: 2px solid $dark-green-color;
  }

  .color-label {
    background-color: $dark-green-color;
    color: $light-green-color;
    border: 2px solid $light-green-color;
  }

  .move {
    color: $dark-green-color;
  }

  select {
    background-color: $light-green-color;
    color: $dark-green-color;
    border: 2px solid $dark-green-color;
  }

  .active-btn {
    background-color: $light-green-color !important;
    color: $dark-green-color !important;
    border: 2px solid $dark-green-color !important;
  }
}

//red theme
.red {
  .game-btn {
    background-color: $dark-red-color;
    color: $light-red-color;
    border: 2px solid $light-red-color;
  }
  .game-btn:hover {
    background-color: $light-red-color;
    color: $dark-red-color;
    border: 2px solid $dark-red-color;
  }

  .btn-col {
    background-color: $light-red-color;
    border: 2px solid $outline-red-color;
  }

  .game-mode-header {
    background-color: $light-red-color;
    color: $dark-red-color;
    border: 2px solid $dark-red-color;
  }

  .move-history-header {
    background-color: $light-red-color;
    color: $dark-red-color;
    border: 2px solid $dark-red-color;
  }

  .color-label {
    background-color: $dark-red-color;
    color: $light-red-color;
    border: 2px solid $light-red-color;
  }

  .move {
    color: $dark-red-color;
  }

  select {
    background-color: $light-red-color;
    color: $dark-red-color;
    border: 2px solid $dark-red-color;
  }

  .active-btn {
    background-color: $light-red-color !important;
    color: $dark-red-color !important;
    border: 2px solid $dark-red-color !important;
  }
}

//blue theme
.blue {
  .game-btn {
    background-color: $dark-blue-color;
    color: $light-blue-color;
    border: 2px solid $light-blue-color;
  }
  .game-btn:hover {
    background-color: $light-blue-color;
    color: $dark-blue-color;
    border: 2px solid $dark-blue-color;
  }

  .btn-col {
    background-color: $light-blue-color;
    border: 2px solid $outline-blue-color;
  }

  .game-mode-header {
    background-color: $light-blue-color;
    color: $dark-blue-color;
    border: 2px solid $dark-blue-color;
  }

  .move-history-header {
    background-color: $light-blue-color;
    color: $dark-blue-color;
    border: 2px solid $dark-blue-color;
  }

  .color-label {
    background-color: $dark-blue-color;
    color: $light-blue-color;
    border: 2px solid $light-blue-color;
  }

  .move {
    color: $dark-blue-color;
  }

  select {
    background-color: $light-blue-color;
    color: $dark-blue-color;
    border: 2px solid $dark-blue-color;
  }

  .active-btn {
    background-color: $light-blue-color !important;
    color: $dark-blue-color !important;
    border: 2px solid $dark-blue-color !important;
  }
}

//purple theme
.purple {
  .game-btn {
    background-color: $dark-purple-color;
    color: $light-purple-color;
    border: 2px solid $light-purple-color;
  }
  .game-btn:hover {
    background-color: $light-purple-color;
    color: $dark-purple-color;
    border: 2px solid $dark-purple-color;
  }

  .btn-col {
    background-color: $light-purple-color;
    border: 2px solid $outline-purple-color;
  }

  .game-mode-header {
    background-color: $light-purple-color;
    color: $dark-purple-color;
    border: 2px solid $dark-purple-color;
  }

  .move-history-header {
    background-color: $light-purple-color;
    color: $dark-purple-color;
    border: 2px solid $dark-purple-color;
  }

  .color-label {
    background-color: $dark-purple-color;
    color: $light-purple-color;
    border: 2px solid $light-purple-color;
  }

  .move {
    color: $dark-purple-color;
  }

  select {
    background-color: $light-purple-color;
    color: $dark-purple-color;
    border: 2px solid $dark-purple-color;
  }

  .active-btn {
    background-color: $light-purple-color !important;
    color: $dark-purple-color !important;
    border: 2px solid $dark-purple-color !important;
  }
}
