$dark-color: #b58863;
$light-color: #f0d9b5;
//green theme
$dark-green-color: #4f583c;
$light-green-color: #acb192;
//blue theme
$dark-blue-color: #4682b4;
$light-blue-color: #add8e6;
//red theme
$dark-red-color: #de4d46;
$light-red-color: #efd4cd;
//purple theme
$dark-purple-color: #61447e;
$light-purple-color: #c0b1f4;

body {
  font-family: "Grandstander", cursive !important;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 84vh;
  @media screen and (max-width: 768px) {
    align-items: flex-start;
  }
}

.logo-box {
  display: flex;
  align-items: flex-end;
  justify-content: left;

  .logo {
    max-height: 200px;
  }
  .logo-text {
    font-size: 60px;
    font-weight: bold;
    color: $dark-color;
    -webkit-text-stroke: 2px black; /* For webkit-based browsers like Chrome */
    text-stroke: 2px black; /* For other browsers */
  }
}

.hero {
  display: flex;
}

.hero-text {
  font-weight: bold;
  margin-top: 0.25rem;
  color: $dark-color !important;
  text-shadow: 1px 1px 1px $light-color;
  text-align: justify;
  @media screen and (max-width: 768px) {
    font-size: 1.25rem;
  }
}

.fix-nav {
  position: fixed;
  justify-content: unsafe center;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

.form-box {
  display: flex;
  flex-direction: column;
  background-color: $light-color !important;
  color: $dark-color !important;
  border: 2px solid $dark-color !important;
  border-radius: 5px;
  text-align: center;
  text-shadow: 1px 1px 1px #00000052;
  max-width: 400px;
  margin: 0 auto;
  h4 {
    margin-top: 1rem;
    margin-bottom: 0;
    @media screen and (max-width: 768px) {
      font-size: 1rem;
    }
  }
  p {
    margin-bottom: 0;
  }
  a {
    color: $dark-color !important;
  }
  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    label {
      margin-top: 0.25rem;
      @media screen and (max-width: 768px) {
        margin-top: 0;
      }
    }
    input {
      background-color: $dark-color !important;
      color: $light-color !important;
      border: 2px solid $dark-color !important;
      border-radius: 5px;
      &::placeholder {
        color: $light-color !important;
      }
    }
    input:focus {
      background-color: $dark-color !important;
      color: $light-color !important;
      border: 2px solid $dark-color !important;
      border-radius: 5px;
    }
    .btn {
      background-color: $dark-color !important;
      color: $light-color !important;
      border: 2px solid $light-color !important;
      font-size: larger;
      margin-top: 0.25rem;
      max-height: 40px;
      padding-top: 3px;
    }
    .btn:hover {
      background-color: $light-color !important;
      color: $dark-color !important;
      border: 2px solid $dark-color !important;
    }
  }
}

.login-signup-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  a {
    color: $dark-color;
  }
}

footer {
  // make the footer stick to the bottom of the page
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: $dark-color !important;
  color: $light-color !important;
  text-align: center;
  padding: 0.5rem;
  a {
    color: $light-color !important;
    font-weight: bold;
  }
}

@media screen and (max-width: 768px) {
  .logo-box {
    display: none;
  }
  .login-signup-box {
    margin-bottom: 145px;
  }
  .nav-container {
    position: sticky;
    top: 0;
  }
}

//green theme
.green {
  .hero-text {
    color: $dark-green-color !important;
    text-shadow: 1px 1px 1px $light-green-color;
  }

  .logo-box {
    .logo-text {
      color: $dark-green-color;
    }
  }

  .form-box {
    background-color: $light-green-color !important;
    color: $dark-green-color !important;
    border: 2px solid $dark-green-color !important;
    input {
      background-color: $dark-green-color !important;
      color: $light-green-color !important;
      border: 2px solid $dark-green-color !important;
      &::placeholder {
        color: $light-green-color !important;
      }
    }
    input:focus {
      background-color: $dark-green-color !important;
      color: $light-green-color !important;
      border: 2px solid $dark-green-color !important;
    }
    .btn {
      background-color: $dark-green-color !important;
      color: $light-green-color !important;
      border: 2px solid $light-green-color !important;
    }
    .btn:hover {
      background-color: $light-green-color !important;
      color: $dark-green-color !important;
      border: 2px solid $dark-green-color !important;
    }
  }

  .login-signup-box {
    a {
      color: $dark-green-color !important;
    }
  }

  footer {
    background-color: $dark-green-color !important;
    color: $light-green-color !important;
    a {
      color: $light-green-color !important;
    }
  }
}

//blue theme
.blue {
  .logo-box {
    .logo-text {
      color: $dark-blue-color;
    }
  }
  .hero-text {
    color: $dark-blue-color !important;
    text-shadow: 1px 1px 1px $light-blue-color;
  }

  .form-box {
    background-color: $light-blue-color !important;
    color: $dark-blue-color !important;
    border: 2px solid $dark-blue-color !important;
    input {
      background-color: $dark-blue-color !important;
      color: $light-blue-color !important;
      border: 2px solid $dark-blue-color !important;
      &::placeholder {
        color: $light-blue-color !important;
      }
    }
    input:focus {
      background-color: $dark-blue-color !important;
      color: $light-blue-color !important;
      border: 2px solid $dark-blue-color !important;
    }
    .btn {
      background-color: $dark-blue-color !important;
      color: $light-blue-color !important;
      border: 2px solid $light-blue-color !important;
    }
    .btn:hover {
      background-color: $light-blue-color !important;
      color: $dark-blue-color !important;
      border: 2px solid $dark-blue-color !important;
    }
  }

  .login-signup-box {
    a {
      color: $dark-blue-color !important;
    }
  }

  footer {
    background-color: $dark-blue-color !important;
    color: $light-blue-color !important;
    a {
      color: $light-blue-color !important;
    }
  }
}

//red theme
.red {
  .logo-box {
    .logo-text {
      color: $dark-red-color;
    }
  }
  .hero-text {
    color: $dark-red-color !important;
    text-shadow: 1px 1px 1px $light-red-color;
  }

  .form-box {
    background-color: $light-red-color !important;
    color: $dark-red-color !important;
    border: 2px solid $dark-red-color !important;
    input {
      background-color: $dark-red-color !important;
      color: $light-red-color !important;
      border: 2px solid $dark-red-color !important;
      &::placeholder {
        color: $light-red-color !important;
      }
    }
    input:focus {
      background-color: $dark-red-color !important;
      color: $light-red-color !important;
      border: 2px solid $dark-red-color !important;
    }
    .btn {
      background-color: $dark-red-color !important;
      color: $light-red-color !important;
      border: 2px solid $light-red-color !important;
    }
    .btn:hover {
      background-color: $light-red-color !important;
      color: $dark-red-color !important;
      border: 2px solid $dark-red-color !important;
    }
  }

  .login-signup-box {
    a {
      color: $dark-red-color !important;
    }
  }

  footer {
    background-color: $dark-red-color !important;
    color: $light-red-color !important;
    a {
      color: $light-red-color !important;
    }
  }
}

//purple theme
.purple {
  .logo-box {
    .logo-text {
      color: $dark-purple-color;
    }
  }
  .hero-text {
    color: $dark-purple-color !important;
    text-shadow: 1px 1px 1px $light-purple-color;
  }

  .form-box {
    background-color: $light-purple-color !important;
    color: $dark-purple-color !important;
    border: 2px solid $dark-purple-color !important;
    input {
      background-color: $dark-purple-color !important;
      color: $light-purple-color !important;
      border: 2px solid $dark-purple-color !important;
      &::placeholder {
        color: $light-purple-color !important;
      }
    }
    input:focus {
      background-color: $dark-purple-color !important;
      color: $light-purple-color !important;
      border: 2px solid $dark-purple-color !important;
    }
    .btn {
      background-color: $dark-purple-color !important;
      color: $light-purple-color !important;
      border: 2px solid $light-purple-color !important;
    }
    .btn:hover {
      background-color: $light-purple-color !important;
      color: $dark-purple-color !important;
      border: 2px solid $dark-purple-color !important;
    }
  }

  .login-signup-box {
    a {
      color: $dark-purple-color !important;
    }
  }

  footer {
    background-color: $dark-purple-color !important;
    color: $light-purple-color !important;
    a {
      color: $light-purple-color !important;
    }
  }
}
