$dark-color: #b58863;
$light-color: #f0d9b5;
//green theme
$dark-green-color: #4f583c;
$light-green-color: #acb192;
//blue theme
$dark-blue-color: #4682b4;
$light-blue-color: #add8e6;
//red theme
$dark-red-color: #ec2323;
$light-red-color: #fdadad;
//purple theme
$dark-purple-color: #462578;
$light-purple-color: #e1a1fa;

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.username {
  color: $dark-color;
  font-size: 35px;
  border: 1px solid $dark-color;
  border-radius: 8px;
  background-color: $light-color;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  margin: auto;
  align-items: center;
  max-width: max-content;
  cursor: default;
}

.stats-box {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: $dark-color;
  border: 2px solid $light-color;
  border-radius: 8px;
  padding: 0;
  position: absolute;
  left: 50%;
  top: 19%;
  transform: translate(-50%, 50%);
  @media screen and (max-width: 991px) {
    top: 9%;
  }
  @media screen and (max-width: 767px) {
    top: 0;
    transform: translate(-50%, 35%);
  }
}

.stat-tile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: $light-color;
  border: 1px solid $dark-color;
  border-radius: 8px;
  max-width: 24%;
  margin: auto;
  cursor: default;
  @media screen and (max-width: 992px) {
    max-width: 45%;
  }
  @media screen and (max-width: 768px) {
    max-width: 75%;
  }
}

.stat-header {
  color: $dark-color;
  font-size: 28px;
  padding: 0.25rem;
  cursor: default;
}

.stat-num {
  color: $dark-color;
  cursor: default;
}

//green theme
.green {
  .username {
    color: $dark-green-color;

    border: 1px solid $dark-green-color;

    background-color: $light-green-color;
  }

  .stats-box {
    background-color: $dark-green-color;
    border: 2px solid $light-green-color;
  }

  .stat-tile {
    background-color: $light-green-color;
    border: 1px solid $dark-green-color;
  }

  .stat-header {
    color: $dark-green-color;
  }

  .stat-num {
    color: $dark-green-color;
  }
}

//red theme
.red {
  .username {
    color: $dark-red-color;

    border: 1px solid $dark-red-color;

    background-color: $light-red-color;
  }

  .stats-box {
    background-color: $dark-red-color;
    border: 2px solid $light-red-color;
  }

  .stat-tile {
    background-color: $light-red-color;
    border: 1px solid $dark-red-color;
  }

  .stat-header {
    color: $dark-red-color;
  }

  .stat-num {
    color: $dark-red-color;
  }
}

//blue theme
.blue {
  .username {
    color: $dark-blue-color;

    border: 1px solid $dark-blue-color;

    background-color: $light-blue-color;
  }

  .stats-box {
    background-color: $dark-blue-color;
    border: 2px solid $light-blue-color;
  }

  .stat-tile {
    background-color: $light-blue-color;
    border: 1px solid $dark-blue-color;
  }

  .stat-header {
    color: $dark-blue-color;
  }

  .stat-num {
    color: $dark-blue-color;
  }
}

//purple theme
.purple {
  .username {
    color: $dark-purple-color;

    border: 1px solid $dark-purple-color;

    background-color: $light-purple-color;
  }

  .stats-box {
    background-color: $dark-purple-color;
    border: 2px solid $light-purple-color;
  }

  .stat-tile {
    background-color: $light-purple-color;
    border: 1px solid $dark-purple-color;
  }

  .stat-header {
    color: $dark-purple-color;
  }

  .stat-num {
    color: $dark-purple-color;
  }
}
