$light-color: #b58863;
$primary-color: #f0d9b5;

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.username {
  color: $light-color;
  font-size: 35px;
  border: 1px solid $light-color;
  border-radius: 8px;
  background-color: $primary-color;
  padding: 0.5rem;
  max-width: max-content;
  margin: auto;
  cursor: default;
}

.stats-box {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: $light-color;
  border: 2px solid $primary-color;
  border-radius: 8px;
}

.stat-tile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: $primary-color;
  border: 1px solid $light-color;
  border-radius: 8px;
  max-width: 120px;
  margin: auto;
  cursor: default;
}

.stat-header {
  color: $light-color;
  font-size: 28px;
  padding: 0.25rem;
  max-width: max-content;
  margin: auto;
  cursor: default;
}

.stat-num {
  color: $light-color;
  cursor: default;
}
