$primary-color: #b58863;
$light-color: #f0d9b5;

body {
  margin: 0;
  padding: 0;
  font-size: 18px;
}

.username {
  color: $light-color;
  font-size: 25px;
  border: 1px solid $light-color;
  border-radius: 8px;
  background-color: $primary-color;
  padding: 0.5rem;
  max-width: max-content;
  margin: auto;
  cursor: default;
}

.stats-box {
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: $light-color;
  border: 1px solid $primary-color;
  border-radius: 8px;
}

.stat-header {
  color: $primary-color;
  cursor: default;
}

.stat-num {
  color: $primary-color;
  cursor: default;
}
