$primary-color: #b58863;
$light-color: #f0d9b5;
$outline-color: #8f6a46;

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background-color: $light-color;
}

.chessboard {
  background: linear-gradient(to right, $primary-color, $light-color);
  border: 2px solid $outline-color;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.board-btn {
  background-color: $primary-color !important;
  border: none;
  color: $light-color !important;
  padding: 6px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  border: 2px solid $light-color !important;
  border-radius: 8px;
  z-index: 99;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

  @media screen and (max-width: 768px) {
    font-size: 12px;
  }
}

.board-btn:hover {
  background-color: $light-color !important;
  color: $primary-color !important;
  border: 2px solid $primary-color !important;
}

.btn-row {
  background-color: $light-color;
  border-top: 2px solid $outline-color;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  min-width: 100%;
  margin: auto;
  justify-content: space-around !important;
}
