$dark-color: #b58863;
$light-color: #f0d9b5;
$outline-color: #8f6a46;
//green theme
$dark-green-color: #4f583c;
$light-green-color: #acb192;
$outline-green-color: #485234;
//blue theme
$dark-blue-color: #4682b4;
$light-blue-color: #add8e6;
$outline-blue-color: #00008b;
//red theme
$dark-red-color: #ec2323;
$light-red-color: #fdadad;
$outline-red-color: #8b2e2e;
//purple theme
$dark-purple-color: #462578;
$light-purple-color: #e1a1fa;
$outline-purple-color: #371d5f;

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background-color: $light-color;
}

.game-over-message {
  font-size: 30px;
  font-weight: bold;
  color: $dark-color;
  margin: 0;
  padding: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-98%, -55%);
  text-align: center;
  width: 50%;
  max-width: 543px;
  z-index: 99;
  border: 2px solid $outline-color;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(240, 217, 181, 0.9);
  @media screen and (max-width: 1398px) {
    font-size: 30px;
    transform: translate(-81%, -55%);
    width: 544px;
  }
  @media screen and (max-width: 1199px) {
    font-size: 30px;
    transform: translate(-74%, -58%);
    width: 500px;
  }
  @media screen and (max-width: 990px) {
    font-size: 26px;
    transform: translate(-50%, -85%);
    width: 365px;
    padding-top: 12px;
    padding-bottom: 12px;
  }
  @media screen and (max-width: 768px) {
    font-size: 20px;
    transform: translate(-50%, -85%);
    max-width: 80%;
    padding: 18px;
  }
}

.move-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  align-items: right;
  font-family: Arial, Helvetica, sans-serif;
}

.move-col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
  width: 100%;
  align-items: right;
  font-family: Arial, Helvetica, sans-serif;
}

.move-list li {
  list-style: none;
  margin: 1rem 0;
}

.move-list li b {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.move-list li div {
  display: flex;
  align-items: center;
  margin-bottom: 0.5rem;
}

.move-list li div::before {
  content: "";
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
}

.move-list li div.player::before {
  background-color: #007bff;
}

.move-list li div.bot::before {
  background-color: #ff0000;
}

.chessboard {
  background: linear-gradient(to right, $dark-color, $light-color);
  border: 2px solid $outline-color;
  border-radius: 8px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.board-btn {
  background-color: $dark-color !important;
  border: none;
  color: $light-color !important;
  padding: 6px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  border: 2px solid $light-color !important;
  border-radius: 8px;
  z-index: 99;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

  @media screen and (max-width: 991px) {
    font-size: 12px;
  }
}

.board-btn:hover {
  background-color: $light-color !important;
  color: $dark-color !important;
  border: 2px solid $dark-color !important;
}

.btn-row {
  background-color: $light-color;
  border-top: 2px solid $outline-color;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  min-width: 100%;
  margin: auto;
  justify-content: space-around !important;
}

//green theme
.green {
  body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    background-color: $light-green-color;
  }

  .game-over-message {
    font-size: 30px;
    font-weight: bold;
    color: $dark-green-color;
    margin: 0;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-98%, -55%);
    text-align: center;
    width: 50%;
    max-width: 543px;
    z-index: 99;
    border: 2px solid $outline-green-color;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(172, 177, 146, 0.9);
    @media screen and (max-width: 1398px) {
      font-size: 30px;
      transform: translate(-81%, -55%);
      width: 544px;
    }
    @media screen and (max-width: 1199px) {
      font-size: 30px;
      transform: translate(-74%, -58%);
      width: 500px;
    }
    @media screen and (max-width: 990px) {
      font-size: 26px;
      transform: translate(-50%, -85%);
      width: 365px;
      padding-top: 12px;
      padding-bottom: 12px;
    }
    @media screen and (max-width: 768px) {
      font-size: 20px;
      transform: translate(-50%, -85%);
      max-width: 80%;
      padding: 18px;
    }
  }

  .chessboard {
    background: linear-gradient(
      to right,
      $dark-green-color,
      $light-green-color
    );
    border: 2px solid $outline-green-color;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }

  .board-btn {
    background-color: $dark-green-color !important;
    border: none;
    color: $light-green-color !important;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid $light-green-color !important;
    border-radius: 8px;
    z-index: 99;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

    @media screen and (max-width: 768px) {
      font-size: 12px;
    }
  }

  .board-btn:hover {
    background-color: $light-green-color !important;
    color: $dark-green-color !important;
    border: 2px solid $dark-green-color !important;
  }

  .btn-row {
    background-color: $light-green-color;
    border-top: 2px solid $outline-green-color;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    min-width: 100%;
    margin: auto;
    justify-content: space-around !important;
  }
}

//blue theme
.blue {
  body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    background-color: $light-blue-color;
  }

  .game-over-message {
    font-size: 30px;
    font-weight: bold;
    color: $dark-blue-color;
    margin: 0;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-98%, -55%);
    text-align: center;
    width: 50%;
    max-width: 543px;
    z-index: 99;
    border: 2px solid $outline-blue-color;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background-color: rgb(173, 216, 230, 0.9);
    @media screen and (max-width: 1398px) {
      font-size: 30px;
      transform: translate(-81%, -55%);
      width: 544px;
    }
    @media screen and (max-width: 1199px) {
      font-size: 30px;
      transform: translate(-74%, -58%);
      width: 500px;
    }
    @media screen and (max-width: 990px) {
      font-size: 26px;
      transform: translate(-50%, -85%);
      width: 365px;
      padding-top: 12px;
      padding-bottom: 12px;
    }
    @media screen and (max-width: 768px) {
      font-size: 20px;
      transform: translate(-50%, -85%);
      max-width: 80%;
      padding: 18px;
    }
  }

  .chessboard {
    background: linear-gradient(to right, $dark-blue-color, $light-blue-color);
    border: 2px solid $outline-blue-color;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }

  .board-btn {
    background-color: $dark-blue-color !important;
    border: none;
    color: $light-blue-color !important;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid $light-blue-color !important;
    border-radius: 8px;
    z-index: 99;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

    @media screen and (max-width: 768px) {
      font-size: 12px;
    }
  }

  .board-btn:hover {
    background-color: $light-blue-color !important;
    color: $dark-blue-color !important;
    border: 2px solid $dark-blue-color !important;
  }

  .btn-row {
    background-color: $light-blue-color;
    border-top: 2px solid $outline-blue-color;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    min-width: 100%;
    margin: auto;
    justify-content: space-around !important;
  }
}

//red theme
.red {
  body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    background-color: $light-red-color;
  }

  .game-over-message {
    font-size: 30px;
    font-weight: bold;
    color: $dark-red-color;
    margin: 0;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-98%, -55%);
    text-align: center;
    width: 50%;
    max-width: 543px;
    z-index: 99;
    border: 2px solid $outline-red-color;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(253, 173, 173, 0.9);
    @media screen and (max-width: 1398px) {
      font-size: 30px;
      transform: translate(-81%, -55%);
      width: 544px;
    }
    @media screen and (max-width: 1199px) {
      font-size: 30px;
      transform: translate(-74%, -58%);
      width: 500px;
    }
    @media screen and (max-width: 990px) {
      font-size: 26px;
      transform: translate(-50%, -85%);
      width: 365px;
      padding-top: 12px;
      padding-bottom: 12px;
    }
    @media screen and (max-width: 768px) {
      font-size: 20px;
      transform: translate(-50%, -85%);
      max-width: 80%;
      padding: 18px;
    }
  }

  .chessboard {
    background: linear-gradient(to right, $dark-red-color, $light-red-color);
    border: 2px solid $outline-red-color;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }

  .board-btn {
    background-color: $dark-red-color !important;
    border: none;
    color: $light-red-color !important;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid $light-red-color !important;
    border-radius: 8px;
    z-index: 99;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

    @media screen and (max-width: 768px) {
      font-size: 12px;
    }
  }

  .board-btn:hover {
    background-color: $light-red-color !important;
    color: $dark-red-color !important;
    border: 2px solid $dark-red-color !important;
  }

  .btn-row {
    background-color: $light-red-color;
    border-top: 2px solid $outline-red-color;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    min-width: 100%;
    margin: auto;
    justify-content: space-around !important;
  }
}

//purple theme
.purple {
  body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    background-color: $light-purple-color;
  }

  .game-over-message {
    font-size: 30px;
    font-weight: bold;
    color: $dark-purple-color;
    margin: 0;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-98%, -55%);
    text-align: center;
    width: 50%;
    max-width: 543px;
    z-index: 99;
    border: 2px solid $outline-purple-color;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(225, 161, 250, 0.9);
    @media screen and (max-width: 1398px) {
      font-size: 30px;
      transform: translate(-81%, -55%);
      width: 544px;
    }
    @media screen and (max-width: 1199px) {
      font-size: 30px;
      transform: translate(-74%, -58%);
      width: 500px;
    }
    @media screen and (max-width: 990px) {
      font-size: 26px;
      transform: translate(-50%, -85%);
      width: 365px;
      padding-top: 12px;
      padding-bottom: 12px;
    }
    @media screen and (max-width: 768px) {
      font-size: 20px;
      transform: translate(-50%, -85%);
      max-width: 80%;
      padding: 18px;
    }
  }

  .chessboard {
    background: linear-gradient(
      to right,
      $dark-purple-color,
      $light-purple-color
    );
    border: 2px solid $outline-purple-color;
    border-radius: 8px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }

  .board-btn {
    background-color: $dark-purple-color !important;
    border: none;
    color: $light-purple-color !important;
    padding: 6px 6px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid $light-purple-color !important;
    border-radius: 8px;
    z-index: 99;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);

    @media screen and (max-width: 768px) {
      font-size: 12px;
    }
  }

  .board-btn:hover {
    background-color: $light-purple-color !important;
    color: $dark-purple-color !important;
    border: 2px solid $dark-purple-color !important;
  }

  .btn-row {
    background-color: $light-purple-color;
    border-top: 2px solid $outline-purple-color;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    min-width: 100%;
    margin: auto;
    justify-content: space-around !important;
  }
}
