$primary-color : #b58863;
$light-color : #f0d9b5;

.lesson-btn-row {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
    margin-right: 10px;
}

.lesson-btn {
    background-color: $light-color;
    border: none;
    color: $primary-color;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 4px 2px;
    cursor: pointer;
    border: 2px solid $primary-color;
    border-radius: 8px;
    z-index: 99;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.lesson-btn:hover {
    background-color: $primary-color;
    color: $light-color;
    border: 2px solid $light-color;
}