$dark-color: #b58863;
$light-color: #f0d9b5;
//green theme
$dark-green-color: #4f583c;
$light-green-color: #acb192;
//blue theme
$dark-blue-color: #4682b4;
$light-blue-color: #add8e6;
//red theme
$dark-red-color: #ec2323;
$light-red-color: #fdadad;
//purple theme
$dark-purple-color: #462578;
$light-purple-color: #e1a1fa;

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.nav {
  background: $dark-color;
  color: #fff;
  height: 58px;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex !important;
  align-items: center !important;
  justify-content: space-around !important;
}

.nav a {
  color: $light-color;
  text-decoration: none;
  font-size: 25px !important;
  padding-top: 0;

  @media only screen and (max-width: 768px) {
    font-size: 20px !important;
    padding: 0 0.5rem;
    margin-left: 2px !important;
  }
}

.nav-link {
  position: relative;
  text-decoration: none;
  padding-left: 3px !important;
  padding-right: 4px !important;
  padding-bottom: 1px !important;
  color: $light-color;
  text-decoration: none;
  font-size: 1.2rem;
  display: flex !important;
  align-items: center !important;
}

.nav-link:after {
  content: "" !important;
  position: absolute !important;
  width: 0 !important;
  height: 2px !important;
  left: 0 !important;
  bottom: 0 !important;
  background-color: $light-color !important;
  transition: width 0.3s !important;
}

.nav-link:hover {
  color: $light-color !important;
  cursor: default !important;
}

.nav-link:hover:after {
  width: 100% !important;
}

ul .nav {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

//green theme
.green {
  .nav {
    background: $dark-green-color;
  }

  .nav a {
    color: $light-green-color;
  }

  .nav-link {
    color: $light-green-color;
  }

  .nav-link:after {
    background-color: $light-green-color !important;
  }

  .nav-link:hover {
    color: $light-green-color !important;
  }
}

//blue theme
.blue {
  .nav {
    background: $dark-blue-color;
  }

  .nav a {
    color: $light-blue-color;
  }

  .nav-link {
    color: $light-blue-color;
  }

  .nav-link:after {
    background-color: $light-blue-color !important;
  }

  .nav-link:hover {
    color: $light-blue-color !important;
  }
}

//red theme
.red {
  .nav {
    background: $dark-red-color;
  }

  .nav a {
    color: $light-red-color;
  }

  .nav-link {
    color: $light-red-color;
  }

  .nav-link:after {
    background-color: $light-red-color !important;
  }

  .nav-link:hover {
    color: $light-red-color !important;
  }
}

//purple theme
.purple {
  .nav {
    background: $dark-purple-color;
  }

  .nav a {
    color: $light-purple-color;
  }

  .nav-link {
    color: $light-purple-color;
  }

  .nav-link:after {
    background-color: $light-purple-color !important;
  }

  .nav-link:hover {
    color: $light-purple-color !important;
  }
}
