$dark-color: #b58863;
$light-color: #f0d9b5;
//green theme
$dark-green-color: #4f583c;
$light-green-color: #acb192;
//blue theme
$dark-blue-color: #4682b4;
$light-blue-color: #add8e6;
//red theme
$dark-red-color: #ec2323;
$light-red-color: #fdadad;
//purple theme
$dark-purple-color: #462578;
$light-purple-color: #e1a1fa;

::-webkit-scrollbar {
  width: 0px;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background-color: $light-color;
}

.lesson-nav {
  position: sticky;
  top: 0;
}

.nav {
  position: sticky;
  top: 0;
}

.game-btn {
  background-color: $light-color;
  border: none;
  color: $dark-color;
  padding: 6px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  border: 2px solid $dark-color;
  border-radius: 8px;
  z-index: 99;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.lesson-btn {
  background-color: $dark-color;
  border: none;
  color: $light-color;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 15px;
  margin: 4px 2px;
  cursor: pointer;
  border: 2px solid $light-color;
  border-radius: 8px;
  z-index: 99;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.lesson-btn:hover {
  background-color: $light-color;
  color: $dark-color;
  border: 2px solid $dark-color;
}

.disabled {
  opacity: 0.5;
  background-color: $light-color;
  color: $dark-color;
  border: 2px solid $dark-color;
  cursor: not-allowed;
}

.nav-header {
  color: $light-color;
  font-size: 25px;
  @media screen and (max-width: 768px) {
    display: none;
  }
}

.game-btn:hover {
  background-color: $dark-color;
  color: $light-color;
  border: 2px solid $light-color;
}

ul.nav {
  padding: 0;
}

.active {
  background-color: $dark-color;
  color: $light-color;
  border: 2px solid $light-color;
}

.lesson-title {
  font-size: 50px;
  font-weight: bold;
  color: $dark-color;
  text-align: center;
  margin-bottom: 1.5rem;
  @media screen and (max-width: 768px) {
    font-size: 40px;
  }
}

.content {
  font-size: 24px;
  font-weight: bold;
  color: $dark-color;
  padding-bottom: 30px;
  margin-top: 0;
  @media screen and (max-width: 768px) {
    font-size: 20px;
  }
}

.lesson-btn-row {
  position: fixed;
  bottom: 0;
  right: 0;
  margin-bottom: 5px;
  margin-right: 40px;
  @media screen and (max-width: 768px) {
    margin-right: 20px;
  }
}

.term {
  font-size: 25px;
  font-weight: normal;
  padding: 2px 4px !important;
  color: $light-color;
  background-color: $dark-color;
  border: 2px solid $light-color;
  border-radius: 5px;
  margin-top: 0;
  @media screen and (max-width: 768px) {
    font-size: 21px;
  }
}

.theme-btn {
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  //make background transparent
  background-color: transparent;
}

//green theme
.green {
  .game-btn {
    background-color: $light-green-color;
    color: $dark-green-color;
    border: 2px solid $dark-green-color;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }

  .lesson-btn {
    background-color: $dark-green-color;
    color: $light-green-color;
    border: 2px solid $light-green-color;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }

  .lesson-btn:hover {
    background-color: $light-green-color;
    color: $dark-green-color;
    border: 2px solid $dark-green-color;
  }

  .disabled {
    background-color: $light-green-color;
    color: $dark-green-color;
    border: 2px solid $dark-green-color;
  }

  .nav-header {
    color: $light-green-color;
  }

  .game-btn:hover {
    background-color: $dark-green-color;
    color: $light-green-color;
    border: 2px solid $light-green-color;
  }

  .active {
    background-color: $dark-green-color;
    color: $light-green-color;
    border: 2px solid $light-green-color;
  }
  .lesson-title {
    color: $dark-green-color;
  }

  .content {
    color: $dark-green-color;
  }

  .term {
    color: $light-green-color;
    background-color: $dark-green-color;
    border: 2px solid $light-green-color;
  }
}

//red theme
.red {
  .game-btn {
    background-color: $light-red-color;
    color: $dark-red-color;
    border: 2px solid $dark-red-color;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }

  .lesson-btn {
    background-color: $dark-red-color;
    color: $light-red-color;
    border: 2px solid $light-red-color;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }

  .lesson-btn:hover {
    background-color: $light-red-color;
    color: $dark-red-color;
    border: 2px solid $dark-red-color;
  }

  .disabled {
    background-color: $light-red-color;
    color: $dark-red-color;
    border: 2px solid $dark-red-color;
  }

  .nav-header {
    color: $light-red-color;
  }

  .game-btn:hover {
    background-color: $dark-red-color;
    color: $light-red-color;
    border: 2px solid $light-red-color;
  }

  .active {
    background-color: $dark-red-color;
    color: $light-red-color;
    border: 2px solid $light-red-color;
  }
  .lesson-title {
    color: $dark-red-color;
  }

  .content {
    color: $dark-red-color;
  }

  .term {
    color: $light-red-color;
    background-color: $dark-red-color;
    border: 2px solid $light-red-color;
  }
}

//blue theme
.blue {
  .game-btn {
    background-color: $light-blue-color;
    color: $dark-blue-color;
    border: 2px solid $dark-blue-color;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }

  .lesson-btn {
    background-color: $dark-blue-color;
    color: $light-blue-color;
    border: 2px solid $light-blue-color;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }

  .lesson-btn:hover {
    background-color: $light-blue-color;
    color: $dark-blue-color;
    border: 2px solid $dark-blue-color;
  }

  .disabled {
    background-color: $light-blue-color;
    color: $dark-blue-color;
    border: 2px solid $dark-blue-color;
  }

  .nav-header {
    color: $light-blue-color;
  }

  .game-btn:hover {
    background-color: $dark-blue-color;
    color: $light-blue-color;
    border: 2px solid $light-blue-color;
  }

  .active {
    background-color: $dark-blue-color;
    color: $light-blue-color;
    border: 2px solid $light-blue-color;
  }
  .lesson-title {
    color: $dark-blue-color;
  }

  .content {
    color: $dark-blue-color;
  }

  .term {
    color: $light-blue-color;
    background-color: $dark-blue-color;
    border: 2px solid $light-blue-color;
  }
}

//purple theme
.purple {
  .game-btn {
    background-color: $light-purple-color;
    color: $dark-purple-color;
    border: 2px solid $dark-purple-color;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }

  .lesson-btn {
    background-color: $dark-purple-color;
    color: $light-purple-color;
    border: 2px solid $light-purple-color;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
  }

  .lesson-btn:hover {
    background-color: $light-purple-color;
    color: $dark-purple-color;
    border: 2px solid $dark-purple-color;
  }

  .disabled {
    background-color: $light-purple-color;
    color: $dark-purple-color;
    border: 2px solid $dark-purple-color;
  }

  .nav-header {
    color: $light-purple-color;
  }

  .game-btn:hover {
    background-color: $dark-purple-color;
    color: $light-purple-color;
    border: 2px solid $light-purple-color;
  }

  .active {
    background-color: $dark-purple-color;
    color: $light-purple-color;
    border: 2px solid $light-purple-color;
  }
  .lesson-title {
    color: $dark-purple-color;
  }

  .content {
    color: $dark-purple-color;
  }

  .term {
    color: $light-purple-color;
    background-color: $dark-purple-color;
    border: 2px solid $light-purple-color;
  }
}
