$primary-color : #b58863;
$light-color : #f0d9b5;
$dark-color : #000;


* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

img {
    margin-top: 7px;
    max-width: 100%;
    height: 55px;
}

.nav {
    background: $light-color;
    color: #fff;
    padding: 1rem;
    gap: 2rem;
    box-shadow: 0 2px 8px rgba(181, 136, 99, 0.4);
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav a {
    color: $primary-color;
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;

}

.nav-link {
    position: relative;
    text-decoration: none;
    padding-bottom: 1px !important;
}

.nav-link:after {
    content: "" !important;
    position: absolute !important;
    width: 0 !important;
    height: 2px !important;
    left: 0 !important;
    bottom: 0 !important;
    background-color: $primary-color !important;
    transition: width 0.3s !important;
}

.nav-link:hover {
    color: $primary-color !important;
    cursor: default !important;
}

.nav-link:hover:after {
    width: 100% !important;
}

.nav ul {
    display: flex;
    list-style: none;
    gap: 10rem;
    margin: 0;
    padding: 0;
    //make this responsive
    @media (max-width: 768px) {
        align-items: center;
        gap: 2rem;
    }
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
}

//make all teh li elements in the nav bar be in the center of the page with even space between them

.nav ul li a {
    color: $primary-color;
    text-decoration: none;
    font-size: 1.2rem;
    display: flex !important;
    align-items: center !important;
}